<p id="notice"><%= notice %></p>

<h1>Listing Songs</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Artist</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.name %></td>
        <td><%= song.artist.name %></td>
         <td class= "btn-group btn-group-sm" role="group">
          <%= link_to 'Show', song, class:"btn btn-info" %>
          <%= link_to 'Edit', edit_song_path(song), class:"btn btn-warning" %>
          <%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song', new_song_path, class: "btn btn-success" %>
