<p id="notice"><%= notice %></p>

<p>
  <strong>Artists in <%= @genre.name.capitalize %> music:</strong>
  <ul>
    <% @genre.artists.order('name').each do |artist| %>
    <li><%= artist.name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
